$background-image-remove: 'src/assets/img/remove.svg';
$background-image-out: 'src/assets/img/out.svg';
$background-image-menu: 'src/assets/img/menu.svg';
$background-image-minimize: 'src/assets/img/minimize.svg';
$background-image-maximize: 'src/assets/img/arrow.svg';

@mixin icon($size,$icon, $color) {
    width: $size;
    height: $size;

    color: $color;
    background-color: currentColor; // Цвет можно менять через `color`

    mask-image: url($icon);
    -webkit-mask-image: url($icon); // Для Safari

    mask-size: contain;
    -webkit-mask-size: contain;

    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-position: center;
    -webkit-mask-position: center;
}

.product {
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
    background-color: var(--color-white);
    border-radius: 6px;
    margin-bottom: 20px;

    display: flex;
    flex-flow: column nowrap;
    padding: 20px 10px 20px 10px;
    position: relative;

    &.open {

    }

    .subMenu {
        @include icon(40px, $background-image-menu, var(--color-grey-dark));

        position: absolute;
        right: -6px;
        top: -18px;

        z-index: 3;
    }

    .productSectionButtons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: var(--color-white);

        box-sizing: border-box;
        padding: 0 15%;


        .delete {
            @include icon(38px, $background-image-remove, var(--color-purple-red));
        }

        .outside {
            @include icon(33px, $background-image-out, var(--color-grey-dark));
        }
    }

    .productSectionHead {
        position: relative;

        .productName {
            box-sizing: border-box;
            padding-right: 100px;
            font-size: 20px;
            font-weight: 500;

            display: -webkit-box;
            -webkit-line-clamp: 2; /* Ограничиваем до 2 строк */
            -webkit-box-orient: vertical; /* Ориентируем блок по вертикали */
            overflow: hidden; /* Прячем все, что выходит за пределы */
            text-overflow: ellipsis; /* Добавляем многоточие, если текст не помещается */
        }
    }

    .productPriceList {
        .priceProduct {
            color: var(--color-purple);
        }
    }

    .productFooter {
        width: 100%;
        border-radius: 6px;

        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;

        display: flex;
        justify-content: center;
        padding: 3px 0;

        .iconMore {
            border-radius: 50%;
            background-color: var(--color-white);
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: -11px;

            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
            &::after {
                @include icon(20px, $background-image-maximize, var(--color-grey-dark));

                content: '';
                display: block;
            }
        }
    }
}


