.product {
    border-bottom: 1px solid var(--color-black);
    display: flex;
    flex-flow: row nowrap;
}

.productName {
    display: block;
    font-size: 14px;
}

.productList {
    font-size: 14px;
}

.productItem {
    display: flex;
    flex-flow: row nowrap;
}

.productItemName {
}

.productItemOrigName {

}

.productPriceTotal {

}

.productSectionHead {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
}

.productSectionButtons {
    width: 40%;
    justify-content: right;
    display: flex;
    flex-flow: row nowrap;
}