.header {
    display: flex;
    flex-flow: row wrap;

    .heading {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        padding: 10px;
        gap: 10px;
        align-items: center;
        justify-content: center;
        font-size: 10px;

        div {
            &:first-child {
            }

            &:last-child {
                background-color: var(--color-purple-light);
                color: var(--color-purple);
                padding: 4px 6px;
                border-radius: 4px;
            }
        }
    }

    h1 {
        width: 100%;
        font-weight: 300;
        font-size: 23px;
        max-width: 85%;
        margin: 10px auto 20px;

        span {
            color: var(--color-purple);
            position: relative;

            &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background-image: url(data:image/svg+xml,%3Csvg%20fill%3D%22%23e4c3ff%22%20height%3D%22800px%22%20width%3D%22800px%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M124.673%2C272.418c1.067%2C0.444%2C2.167%2C0.648%2C3.26%2C0.648c3.345%2C0%2C6.528-1.98%2C7.885-5.274L237.953%2C20.975c0.691-0.947%2C3.328-3.908%2C9.446-3.908c4.267%2C0%2C9.003%2C2.91%2C12.646%2C7.791c6.434%2C8.593%2C8.218%2C20.736%2C4.983%2C31.812l-42.667%2C110.933c-1.69%2C4.395%2C0.503%2C9.335%2C4.907%2C11.034c4.395%2C1.673%2C9.327-0.503%2C11.034-4.907l42.88-111.59c4.966-16.862%2C2.167-34.62-7.467-47.505C266.762%2C5.333%2C257.17%2C0%2C247.4%2C0c-14.054%2C0-22.101%2C8.252-24.951%2C13.807l-102.4%2C247.467C118.248%2C265.626%2C120.313%2C270.618%2C124.673%2C272.418z%22%2F%3E%3Cpath%20d%3D%22M109.407%2C238.805c0.495%2C0.085%2C0.981%2C0.128%2C1.468%2C0.128c4.079%2C0%2C7.68-2.918%2C8.397-7.074l34.133-196.267c0.077-0.41%2C0.12-0.947%2C0.128-1.357c0.102-3.942%2C1.664-8.636%2C8.533-8.636c7.552%2C0%2C9.011%2C2.807%2C11.947%2C14.797c0.375%2C1.519%2C0.751%2C3.029%2C1.152%2C4.514c1.246%2C4.548%2C5.914%2C7.219%2C10.479%2C5.99c4.548-1.246%2C7.228-5.939%2C5.99-10.479c-0.367-1.34-0.708-2.722-1.041-4.096c-2.551-10.394-6.818-27.793-28.527-27.793c-18.295%2C0-25.233%2C14.524-25.591%2C24.781l-34.014%2C195.627C101.65%2C233.583%2C104.765%2C238.003%2C109.407%2C238.805z%22%2F%3E%3Cpath%20d%3D%22M442.668%2C299.964c-2.603-2.594-5.265-4.651-7.962-6.212c0.614-0.469%2C1.229-0.973%2C1.843-1.519c16.324-14.558%2C5.811-32.879%2C1.459-40.465c-16.043-28.134-82.014-89.634-105.276-89.634c-29.662%2C0-108.399%2C36.599-142.566%2C70.767c-10.726%2C10.718-11.034%2C29.525-11.034%2C31.633c0%2C4.702%2C3.806%2C8.508%2C8.508%2C8.516h0.026c4.693%2C0%2C8.508-3.797%2C8.533-8.491c0.017-3.541%2C1.169-14.729%2C6.033-19.593c32.614-32.614%2C107.298-65.766%2C130.492-65.766c12.126%2C0.358%2C73.19%2C50.739%2C90.871%2C81.749c5.811%2C10.121%2C6.187%2C14.455%2C1.587%2C18.552c-4.275%2C3.823-9.344%2C1.749-22.588-9.208c-1.69-1.391-3.319-2.739-4.881-3.959c-3.149-2.458-7.1-5.649-11.469-9.173c-30.814-24.892-45.056-35.294-53.513-35.294c-12.186%2C0-68.267%2C36.83-68.267%2C59.733c0%2C20.693%2C37.026%2C76.8%2C59.733%2C76.8c24.798%2C0%2C70.11-31.556%2C82.79-46.746c1.963-1.929%2C12.262-10.957%2C23.612%2C0.375c10.863%2C10.863-0.759%2C24.875-1.655%2C25.95l-85.18%2C82.654c-17.178%2C17.178-25.566%2C54.016-27.597%2C74.3H183.835c-60.809-96.691-91.913-188.058-98.825-215.424c-6.545-25.899-8.277-143.923-8.277-202.709c0-3.831%2C4.702-8.533%2C8.533-8.533c9.455%2C0%2C9.847%2C1.178%2C12.416%2C8.815l0.87%2C2.543c1.553%2C4.446%2C6.426%2C6.793%2C10.871%2C5.222c4.446-1.562%2C6.784-6.434%2C5.222-10.871l-0.785-2.33c-3.063-9.105-6.869-20.446-28.595-20.446c-13.158%2C0-25.6%2C12.442-25.6%2C25.6c0%2C7.023%2C0.102%2C172.476%2C8.789%2C206.891c7.202%2C28.484%2C39.817%2C124.314%2C103.475%2C224.358c1.57%2C2.458%2C4.284%2C3.951%2C7.202%2C3.951H324.2c4.71%2C0%2C8.533-3.823%2C8.533-8.533c0-16.802%2C8.772-56.439%2C23.006-70.673l85.53-83.021C449.606%2C340.403%2C460.622%2C317.918%2C442.668%2C299.964z%20M394.455%2C300.092c-12.083%2C14.421-52.898%2C41.242-70.255%2C41.242c-10.368%2C0-42.667-45.218-42.667-59.733c0-9.523%2C39.868-39.279%2C51.132-42.53c7.177%2C2.543%2C31.147%2C21.905%2C42.854%2C31.36c4.454%2C3.601%2C8.482%2C6.861%2C11.699%2C9.37c1.442%2C1.118%2C2.944%2C2.364%2C4.497%2C3.644c3.576%2C2.961%2C7.97%2C6.596%2C12.86%2C9.549C400.624%2C294.903%2C397.16%2C297.412%2C394.455%2C300.092z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E);
                background-size: 100%;
            }
        }
    }
}
